#box{
    width: 100px;
    height: 150px;
    background-color: dodgerblue;
    color: whote;
    border: 1px solid black;
}
.par{
    margin: 0;
}
body{
    margin: 0;
}

.content{
    color: red;
}
.newClass{
    background-color: green;
}